body,html{
  height: 100%;
}

#side-menu{
  background-color:#546E7A;
  height: 100%;
}

#side-menu h2{
  text-align: center;
}

#side-menu h1 {
  font-size: 18px;
}

#side-menu h2 {
  font-size: 18px;
  font-weight: bold;
}

#side-menu ul {
  margin: 0px;
  padding: 0px;
}

#side-menu a {
  padding:8px 20px;
  text-decoration: none;
  color: ;
  font-weight: bold;
  display: flow-root;
}

#dashbord-content{
  background-color: #F5F5F5;
}

.display-table{
  display: table;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.display-table-row{
  display: table-row;
  height: 100%;
}

.display-table-cell{
  display: table-cell;
  float: none;
  height: 100%;
}

.valign-top{
  vertical-align: top;
}

#nav-header{
  background-color: #fff;
  border-bottom: 1px solid black;
  outline: none;
  border: none;
}

#nav-header ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#nav-header ul li {
  float:left;
  margin-left: 15px;
  padding: 17px 0px;
}

#nav-header ul a {
  text-decoration: none;
}

#dashbord-footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 12px;
}

.Link a{
  text-decoration: none;
  color: #000000;
}

.Link ul li {
  list-style: none;
  padding-left: 35px;
}

.Link ul li:hover{
  border-bottom: solid 1px #fff;
}
